<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books & Authors</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .right {
            width: 450px;
            display: inline-block;
            vertical-align: top;
            margin-top: 25px;
        }

        .left {
            width: 450px;
            display: inline-block;
            vertical-align: top;
            margin-top: 25px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <h1>Add a Book</h1>
                <form action='/new_book' method='post'>
                    {% csrf_token %}
                    Title:
                    <h1><input type='text' name='title'></h1>
                    Description:
                    <h2><input type='text' name='desc'></h2>
                    <button type='submit'>Add Book</button>
                </form>
        </div>
        <div class="right">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books%}
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td>{{book.title}}</td>
                        <td>
                            <a href="/books/{{book.id}}">view</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
<a href="/authors">authors</a>

</html>